{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- static is used for loading the css file statically -->
    <!-- ! Static files (CSS, JavaScript, Images) -->

    <link rel="stylesheet" href="{% static 'blog/main.css' %}">

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">

    {% if title %}
    <title>Django-Blog-{{ title }}</title>
    {% else %}
    <title>Django-Blog</title>
    {% endif %}
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container">

                <a class="navbar-brand" href="{% url 'blog-home' %}">D-J Demo</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url 'blog-home' %}">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'blog-about'%}">About</a>
                        </li>

                    </ul>
                    <ul class="nav justify-content-end navbar-nav">
                        {% if user.is_authenticated %}
                        <li class="nav-item ">
                            <a class="nav-link " href="{% url 'post-create' %}">New Post</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link " href="{% url 'user-profile' %}">Profile</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link " href="{% url 'logout' %}">Logout</a>
                        </li>
                        {% else %}
                        <li class="nav-item ">
                            <a class="nav-link " href="{% url 'login' %}">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'user-register'%}">Register</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <main>


                    {% block alert %}

                    {% if messages %}

                    {% for message in messages %}

                    <div class="alert alert-{{message.tags}}">
                        {{message}}
                    </div>
                    {% endfor %}

                    {% endif %}

                    {% endblock alert %}


                    <!-- This will be replaced by the their respective html page contents s -->
                    {% block content %}

                    {% endblock content %}
                </main>
            </div>
            <div class="col-md-4">
                <div class="card text-center">
                  <div class="card-body">
                    <h4 class="card-title">Mere Bar</h4>
                    <div class="list-group">
                        <a href="{% url 'blog-home' %}" class="list-group-item list-group-item-action active">Home</a>
                        <a href="{% url 'blog-about' %}" class="list-group-item list-group-item-action">About</a>
                        <a href="{% url 'user-profile' %}" class="list-group-item list-group-item-action disabled">Profile</a>
                    </div>
                  </div>
                </div>
            </div>
        </div>

        <footer>

        </footer>

    </div>




</body>

</html>
