<!-- ? code from base.html will be added here -->
{% extends 'blog/base.html' %}
{% block content %}
<div class="card text-left">
  <div class="card-header">
    <img  class='rounded-circle ' style="width: 50px" src="{{object.author.profile.image.url}}" alt="">
       <strong> {{object.author}} </strong>
    <small>{{object.data_objected | date:"F d, Y"}}</small>
    <div>
      {% if object.author == user %}
      <a  class="btn btn-outline-secondary" href="{% url 'post-update' post.id %}" role="button">Update</a>
      <a  class="btn btn-outline-danger" href="{% url 'post-delete' post.id %}" role="button">Delete</a>
      {%  endif %}
    </div>
  </div>
  <div class="card-body">
    <h4 class="card-text">{{object.title}}</h4>
    <p class="card-text">{{object.content}}</p>
  </div>
</div>
{% endblock content%}
