{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="card border-info">
  <div class="card-body">
    <h4 class="card-title">Register Form</h4>
    <form action="" method="post">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Join Today!!!</legend>
            {{ form | crispy}}
        </fieldset>
        <div class="form-group">
            <button type="submit" class="btn btn-outline-info">Submit</button>
        </div>
    </form>
    <div class="border-top pt-4">
            <small id="help2" class="text-muted">Already Have an account ? <span><a href="{% url 'login' %}">sign in</a></span></small>
    </div>
</div>
</div>
{% endblock content %}